<div class="custom-font boxy span6 offset3 text-center">

	<h1 class="cool-font-big">Hi I'm Rocky</h1>

	<br/>

	<h2 class="cool-font-small">I'm having a ton of fun learning how to code and shipping my first web application
	</h2>

	<br/>

	<%= link_to 'Launch', pics_path, :class =>
	  'btn btn-warning btn-large' %> 

</div>